body{
    background-image:url("");
    background-size: cover;
    background-attachment:fixed;
    background-repeat: no-repeat;
    }
    .treat {
    text-align: center;
    margin-right:100px;
    padding:0;
    position: absolute;
    top: 20%;
    left: 25%;
    color: black;}
