.carousel-item{
   height: 80vh;
   min-height: 50px;
   background: no-repeat center scroll;
   -webkit-background-size:cover;
   background-size:cover;

}
.content h1 {
    margin-top: 5% ;
    margin-right:0px;
    margin-left:380px;
    margin-bottom:80px;
    text-shadow:2px 2px 2px #000;
    font-family:tahoma;
    }

    .content h1 {
    margin-top: 5% ;
    margin-right:200px;
    margin-left:1px;
    margin-bottom:80px;
    text-shadow:2px 2px 2px #000;
    font-family:tahoma;
    }

    .content{
    color:pink;
    width:800px;
    height:380px;
    padding:40px;
    margin:12px auto;
    float:right;
    }
    .banner {
  background: #fff;
  font-family: Lato, sans-serif;
}
.navbar-nav-primary {
  text-transform: uppercase;
}

.navbar-form-search {
  position: relative;
  .form-control {
    width: 250px;
  }
  .btn {
    border: 0;
    background: transparent;
    font-size: 18px;
    &:active,
    &:hover,
    &:focus {
      color: #000;
      outline: none;
      box-shadow: none;
    }
  }

  .search-form-container {
    text-align: right;
    position: absolute;
    width: 300px;
    overflow: hidden;
    background: #fff;
    right: 60px;
    top: 0;
    z-index: 9;
    transition: all 0.3s ease-in-out;
    &.hdn {
      width: 0;
    }

    .search-input-group {
      width: 300px;
    }
  }
}


  .main{
        background-attachment: fixed;
        background-image:url("chrome://theme/IDR_THEME_NTP_BACKGROUND?theme=fmggcgdpmmjphbjcfcgabjfhfokimago&wallpaper=-1&wallpaper_type=0");
        background-position: 0 0;
        background-repeat: no-repeat ;
        background-size:cover;
      }

.box{
width: 500px;

}
p{
margin: 0;
padding: 0;
font-size: 24px;
}
.rating{
position: relative;
display: flex;
flex-direction: row-reverse;
margin-top: 10px;
border: 1px solid #000;
box-sizing: border-box;
background : linear-gradient(to right, #f00, #ff0, #0f0);
}
.rating input{
display: none;
}
.rating label
{
display: block;
cursor: pointer;
width : 50px;
height: 40px;
display: flex;
justify-content: center;
align-items: center;
transition : 0.5s;
background: #fff;
color: #000;
font-size: 20px;
border-right: 1px solid #000;
}
.rating input[type="radio"]:hover ~ label,
.rating input[type="radio"]:checked ~ label
{
background: transparent;
}
