
<!--
author: W3layouts
author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
{% load static %}
<html lang="zxx">
<head>
<title>About</title>
<!-- for-meta-tags-->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Health Plus Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free web designs for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //for-meta-tags-->
	<link href="{% static 'vendor/font-awesome-4.7/css/font-awesome.min.css' %}" rel="stylesheet" media="all">
<link href="{% static 'css1/bootstrap.css' %}" rel="stylesheet" type="text/css" media="all" />
<link href="{% static 'css1/services.css' %}" rel="stylesheet" type="text/css" media="all" />
<link href="{% static 'css1/ziehharmonika.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'css1/team.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'css1/style.css' %}" rel="stylesheet" type="text/css" media="all" />
<!-- font-awesome icons -->
<link href="{% static 'css1/font-awesome.css' %}" rel="stylesheet">
<!-- //font-awesome icons -->
<link href="//fonts.googleapis.com/css?family=Raleway:200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800" rel="stylesheet">
<link href="//fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,900" rel="stylesheet">
</head>
	
<body>
<div class="main" id="home">
<!-- banner -->
		<div class="header_agileinfo">
						<div class="w3_agileits_header_text">
							<ul class="top_agile_w3l_info_icons">
									<li><i class="fa fa-home" aria-hidden="true"></i>D.B.N Road,Batala</li>
									<li class="second"><i class="fa fa-phone" aria-hidden="true"></i>7986887844</li>
									
									<li><i class="fa fa-envelope-o" aria-hidden="true"></i><a href="mailto:ranjit45697@gmail.com">Ranjit45697@gmail.com</a></li>
								</ul>

						</div>
						<div class="agileinfo_social_icons">
							<ul class="agileits_social_list">
								<li><a href="https://www.facebook.com/Jeet-962949457198185/" class="w3_agile_facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
								<li><a href="#" class="agile_twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
								<li><a href="#" class="w3_agile_dribble"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
								<li><a href="#" class="w3_agile_rss"><i class="fa fa-rss" aria-hidden="true"></i></a></li>
							</ul>
						</div>
						<div class="clearfix"> </div>
			</div>				

		<div class="header-bottom">
			<nav class="navbar navbar-default">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
				  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				  </button>
					<div class="logo">
						<h1><a class="navbar-brand" href="index.html"><span>Diagnostic</span> <i class="fa fa-plus" aria-hidden="true"></i> <p>Service Portal</p></a></h1>
					</div>
				</div>

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse nav-wil" id="bs-example-navbar-collapse-1">
					<nav class="menu menu--sebastian">
					<ul id="m_nav_list" class="m_nav menu__list">
						<li class="m_nav_item menu__item" id="m_nav_item_1"> <a href="index" class="menu__link"> Home </a></li>
						<li class="m_nav_item menu__item menu__item--current" id="moble_nav_item_2"> <a href="about" class="menu__link"> About Us </a> </li>
						<li class="m_nav_item menu__item" id="moble_nav_item_4"> <a href="appointment" class="menu__link">Appointment  </a> </li>
						<!--<li class="m_nav_item menu__item" id="moble_nav_item_3 dropdown"> <a href="#" class="menu__link dropdown-toggle" data-toggle="dropdown">Pages  <b class="caret"></b></a>
						   <ul class="dropdown-menu agile_short_dropdown">
									<li><a href="icons.html">Web Icons</a></li>
									<li><a href="typography.html">Typography</a></li>
								</ul>
						</li>-->
<!--						<li class="m_nav_item menu__item" id="moble_nav_item_5"> <a href="gallery.html" class="menu__link">Departments</a> </li>-->
						<li class="m_nav_item menu__item" id="moble_nav_item_6"> <a href="contact.html" class="menu__link"> Contact </a> </li>
					</ul>
				</nav>

				</div>
				<!-- /.navbar-collapse -->
			</nav>
	 </div>
</div>
<!-- banner -->
<!-- banner1 -->
	<div class="banner1 jarallax">
		<div class="container">
			<img src="static/images1/banner.jpg" alt=" " class="img-responsive" />
		</div>
	</div>

	<div class="services-breadcrumb">
		<div class="container">
			<ul>
				<li><a href="index">Home</a><i>|</i></li>
				<li>About</li>
			</ul>
		</div>
	</div>
<!-- //banner1 -->


<!-- //banner -->

<!-- about -->
	<div class="about" id="about">
		<div class="container">
				<h2 class="w3_heade_tittle_agile">Diagnostic service portal</h2>
			<!--<p class="sub_t_agileits">Add Short Description</p>-->
			
			<p class="ab"> First Step Towards Healthy India...We Care About your Health</p>
			 <div class="about-w3lsrow"> 
				
				<div class="col-md-6 w3about-img"> 
				    <img src="static/images1/about.jpg" alt=" " class="img-responsive">
				</div> 
				<div class="col-md-6 col-sm-7 w3about-img"> 
					<div class="w3about-text"> 
						<h5 class="w3l-subtitle">We Care About Your Health</h5>
						<p> The Project Diagnostic service portal is a web application that allows the user to do self  Assessment by giving answer on some question.The user can book their appointment online as per their convenience.once their appointment request will send to doctor side then doctor will accept the client request and line them in a queue their own way.After accepting the request of appointment (by doctor) the alert message will send to the user phone or email id with proper timing and date.This help you find online medical services &  solutions to enable you to take better care of yourself.All content is stored in database and divided into categories.No formal knowledge is needed for the user to use the system. Thus by this all it proves it is user-friendly.
                            In this website our Doctors deals with some comman diseases like:Diabetes,PCOS,ADHD,Anxiety,TB,Thyroid,Cholestrol,BloodPressure, Migraine and HIV AIDS</p>

					</div>
				</div> 
				<div class="clearfix"> </div>
			</div>
		</div>
</div>
<!-- /about-bottom -->
<!-- /girds_agileits -->
	<div class="Department_girds_agileits">
		<div class="agile_team_grid">	

					<div class="col-md-3 w3ls_banner_bottom_grid">
						<img src="static/images1/g1.jpg" alt=" " class="img-responsive" />
<!--						<div class="overlay">-->
<!--							<h4>Department 1</h4>-->
<!--							<ul class="social_agileinfo">-->
<!--								<li><a href="#" class="w3_facebook"><i class="fa fa-facebook"></i></a></li>-->
<!--								<li><a href="#" class="w3_twitter"><i class="fa fa-twitter"></i></a></li>-->
<!--								<li><a href="#" class="w3_instagram"><i class="fa fa-instagram"></i></a></li>-->
<!--								<li><a href="#" class="w3_google"><i class="fa fa-google-plus"></i></a></li>-->
<!--							</ul>-->
<!--						</div>-->
					</div>

					<div class="col-md-3 w3ls_banner_bottom_grid">
						<img src="static/images1/g2.jpg" alt=" " class="img-responsive" />
<!--						<div class="overlay">-->
<!--							<h4>Department 2</h4>-->
<!--							<ul class="social_agileinfo">-->
<!--								<li><a href="#" class="w3_facebook"><i class="fa fa-facebook"></i></a></li>-->
<!--								<li><a href="#" class="w3_twitter"><i class="fa fa-twitter"></i></a></li>-->
<!--								<li><a href="#" class="w3_instagram"><i class="fa fa-instagram"></i></a></li>-->
<!--								<li><a href="#" class="w3_google"><i class="fa fa-google-plus"></i></a></li>-->
<!--							</ul>-->
<!--						</div>-->
					</div>


					<div class="col-md-3 w3ls_banner_bottom_grid hvr-shutter-in-horizontal">
						<img src="static/images1/g3.jpg" alt=" " class="img-responsive" />
<!--						<div class="overlay">-->
<!--							<h4>Department 3</h4>-->
<!--							<ul class="social_agileinfo">-->
<!--								<li><a href="#" class="w3_facebook"><i class="fa fa-facebook"></i></a></li>-->
<!--								<li><a href="#" class="w3_twitter"><i class="fa fa-twitter"></i></a></li>-->
<!--								<li><a href="#" class="w3_instagram"><i class="fa fa-instagram"></i></a></li>-->
<!--								<li><a href="#" class="w3_google"><i class="fa fa-google-plus"></i></a></li>-->
<!--							</ul>-->
<!--						</div>-->
					</div>


					<div class="col-md-3 w3ls_banner_bottom_grid">
						<img src="static/images1/g4.jpg" alt=" " class="img-responsive" />
<!--						<div class="overlay">-->
<!--							<h4>Department 4</h4>-->
<!--							<ul class="social_agileinfo">-->
<!--								<li><a href="#" class="w3_facebook"><i class="fa fa-facebook"></i></a></li>-->
<!--								<li><a href="#" class="w3_twitter"><i class="fa fa-twitter"></i></a></li>-->
<!--								<li><a href="#" class="w3_instagram"><i class="fa fa-instagram"></i></a></li>-->
<!--								<li><a href="#" class="w3_google"><i class="fa fa-google-plus"></i></a></li>-->
<!--							</ul>-->
<!--						</div>-->
					</div>

		</div>
		<div class="clearfix"></div>
	</div>
<!-- //girds_agileits -->

	<div class="agile_menu" id="menu">
		<div class="container">
		<h3 class="w3_heade_tittle_agile"> Brief Introduction about some common diseases</h3>
		<p class="sub_t_agileits"></p>
		<div class="menu_w3ls_agile_top_section">
			<div class="ziehharmonika">
			<h3>Diabetes</h3>
			<div>
				  <div class="w3_agile_recipe-grid">
                                  
								<div class="col-md-6 col-sm-6 tab-image">
									<img src="https://image.shutterstock.com/image-photo/diabetic-measures-level-glucose-blood-260nw-1182391306.jpg" alt="Medicinal">
								</div>
								<div class="col-md-6 col-sm-6 tab-info">
								<h4>Diabetes</h4>
									<p>Diabetes is a chronic disease that occurs when the pancreas is no longer able to make insulin, or when the body cannot make good use of the insulin it produces.

Insulin is a hormone made by the pancreas, that acts like a key to let glucose from the food we eat pass from the blood stream into the cells in the body to produce energy. All carbohydrate foods are broken down into glucose in the blood. Insulin helps glucose get into the cells.

										Not being able to produce insulin or use it effectively leads to raised glucose levels in the blood (known as hyperglycaemia). Over the long-term high glucose levels are associated with damage to the body and failure of various organs and tissues.</p>

<!--									<div class="read"><a href="#" class="hvr-rectangle-in">Read More</a></div>-->
								</div>
								<div class="clearfix"></div>
					    </div>

			</div>
			<h3>Thyroid</h3>
			<div>
				  <div class="w3_agile_recipe-grid">
                                  
								
									<div class="col-md-6 col-sm-6 tab-info two">
								<h4>Thyroid</h4>
										<p> Hypothyroidism (underactive thyroid) is a condition in which your thyroid gland doesn't produce enough of certain crucial hormones.
Hypothyroidism may not cause noticeable symptoms in the early stages. Over time, untreated hypothyroidism can cause a number of health problems, such as obesity, joint pain, infertility and heart disease.

Accurate thyroid function tests are available to diagnose hypothyroidism. Treatment with synthetic thyroid hormone is usually simple, safe and effective once you and your doctor find the right dose for you.
</p>
<!--									<div class="read"><a href="#" class="hvr-rectangle-in">Read More</a></div>-->
								</div>
								<div class="col-md-6 col-sm-6 tab-image two">
									<img src="https://img.webmd.com/dtmcms/live/webmd/consumer_assets/site_images/rich_media_quiz/topic/rmq_hypothyroidism/650rmq_getty_rf_photo_of_thyroid_screening.jpg" alt="Medicinal">
								</div>
								<div class="clearfix"></div>
					    </div>

			</div>
			<h3>Migraine</h3>
			<div>
			 <div class="w3_agile_recipe-grid">
                                  
								<div class="col-md-6 col-sm-6 tab-image">
									<img src="https://juicing-for-health.com/wp-content/uploads/2017/03/migraine.jpg" alt="Medicinal">
								</div>
									<div class="col-md-6 col-sm-6 tab-info">
								<h4>Migraine</h4>
										 <p> A migraine can cause severe throbbing pain or a pulsing sensation, usually on one side of the head. It's often accompanied by nausea, vomiting, and extreme sensitivity to light and sound. Migraine attacks can last for hours to days, and the pain can be so severe that it interferes with your daily activities.

For some people, a warning symptom known as an aura occurs before or with the headache. An aura can include visual disturbances, such as flashes of light or blind spots, or other disturbances, such as tingling on one side of the face or in an arm or leg and difficulty speaking.</h4>
    </p>
<!--									<div class="read"><a href="#" class="hvr-rectangle-in">Read More</a></div>-->
								</div>
								<div class="clearfix"></div>
					    </div>


			</div>
			<h3>ADHD</h3>
			<div>
				  <div class="w3_agile_recipe-grid">
                                  
								
								<div class="col-md-6 col-sm-6 tab-info two">
								<h4>ADHD</h4>
									<p> Attention-deficit/hyperactivity disorder (ADHD) is a brain disorder marked by an ongoing pattern of inattention and/or hyperactivity-impulsivity that interferes with functioning or development in children.
ADHD is divided into three different types:
inattentive type
hyperactive-impulsive type
combination type
Symptoms can change over time, so the type of ADHD you have may change, too. ADHD can be a lifelong challenge. But medication and other treatments can help improve your quality of life.
Everyone is different, so it’s common for two people to experience the same symptoms in different ways.
</p>
<!--									<div class="read"><a href="#" class="hvr-rectangle-in">Read More</a></div>-->
								</div>
								<div class="col-md-6 col-sm-6 tab-image two">
									<img src="https://www.helpguide.org/wp-content/uploads/2018/11/boy-classroom-gazing-up-500.jpg" alt="Medicinal">
								</div>
								<div class="clearfix"></div>
					    </div>
			</div>
		</div>
		</div>
	</div>
</div>
<!-- services section -->
<div class="service-w3l jarallax" id="service">
	<div class="container">
	<h3 class="w3_heade_tittle_agile two">What We Do Best</h3>
<!--		<p class="sub_t_agileits">Add Short Description</p>-->
		<div class="col-lg-4 col-md-4 col-sm-12 serv-agileinfo1">
			<div class="col-lg-12 col-md-12 col-sm-6 serv-wthree1" data-aos="zoom-in">
				<ul class="ch-grid">
					<li>
						<div class="ch-item">				
							<div class="ch-info">
								<div class="ch-info-front ch-img-1"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></div>
								<div class="ch-info-back">
									<h5>Health Plus</h5>
									<p>Best In Services</p>
								</div>	
							</div>
						</div>
					</li>
				</ul>
				<h4 class="text-center">Easily send Appointment Request</h4>
<!--				<p class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla volutpat risus eu pretium commodo.</p>	-->
			</div>
			<div class="col-lg-12 col-md-12 col-sm-6 serv-wthree2" data-aos="zoom-in">
				<ul class="ch-grid">
					<li>
						<div class="ch-item">				
							<div class="ch-info">
								<div class="ch-info-front ch-img-2"><i class="fa fa-user-md" aria-hidden="true"></i></div>
								<div class="ch-info-back">
									<h5>Health Plus</h5>
									<p>Best In Services</p>
								</div>	
							</div>
						</div>
					</li>
				</ul>
				<h4 class="text-center">Specialized Doctor's</h4>
<!--				<p class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla volutpat risus eu pretium commodo.</p>-->
			</div>
			<div class="clearfix"></div>
		</div>
		<div class="col-lg-4 col-md-4 col-sm-6 serv-agileinfo2">
			<div class="col-lg-12 col-md-12 col-sm-6 serv-wthree4" data-aos="zoom-in">
				<ul class="ch-grid">
					<li>
						<div class="ch-item">				
							<div class="ch-info">
								<div class="ch-info-front ch-img-3"><i class="fa fa-ambulance" aria-hidden="true"></i></div>
								<div class="ch-info-back">
									<h5>Health Plus</h5>
									<p>Best In Services</p>
								</div>	
							</div>
						</div>
					</li>
				</ul>
				<h4 class="text-center">Emergency Care</h4>
<!--				<p class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla volutpat risus eu pretium commodo.</p>-->
			</div>
			<div class="clearfix"></div>
		</div>	
		<div class="col-lg-4 col-md-4 col-sm-6 serv-agileinfo3">
			<div class="col-lg-12 col-md-12 col-sm-6 serv-wthree6" data-aos="zoom-in">
				<ul class="ch-grid">
					<li>
						<div class="ch-item">				
							<div class="ch-info">
								<div class="ch-info-front ch-img-4"><i class="fa fa-tint" aria-hidden="true"></i></div>
								<div class="ch-info-back">
									<h5>Health Plus</h5>
									<p>Best In Services</p>
								</div>	
							</div>
						</div>
					</li>
				</ul>
				<h4 class="text-center"> Diectly communicate with Doctors</h4>
<!--				<p class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla volutpat risus eu pretium commodo.</p>-->
			</div>
			<div class="col-lg-12 col-md-12 col-sm-6 serv-wthree5" data-aos="zoom-in">
				<ul class="ch-grid">
					<li>
						<div class="ch-item">				
							<div class="ch-info">
								<div class="ch-info-front ch-img-5"><i class="fa fa-wheelchair" aria-hidden="true"></i></div>
								<div class="ch-info-back">
									<h5>Health Plus</h5>
									<p>Best In Services</p>
								</div>	
							</div>
						</div>
					</li>
				</ul>
				<h4 class="text-center">Best Treatment</h4>
<!--				<p class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla volutpat risus eu pretium commodo.</p>-->
			</div>
			<div class="clearfix"></div>
		</div>
		<div class="clearfix"></div>
	</div>
</div>
<!-- /services section -->
<!-- team -->
	<div class="team portfolio " id="team">
		<div class="container">
<h3 class="w3_heade_tittle_agile">Amazing Team</h3>
		<p class="sub_t_agileits">Meet Our Amazing Team...</p>
			<div class="w3layouts-grids">
					<div class="col-md-3 wthree_team_grid">
					<div class="wthree_team_grid1">
						<div class="hover14 column">
							<div>
								<figure><img src="static/images1/jeet.jpeg" alt=" " class="img-responsive" /></figure>
							</div>
						</div>
						<div class="wthree_team_grid1_pos">
							<h4>Ranjit singh</h4>
						</div>
					</div>
					<div class="wthree_team_grid2">
						<ul class="social-icons">
							 <li><a href="https://www.facebook.com/Jeet-962949457198185/"><i class="fa fa-facebook"></i></a></li>
							<li><a href="#"><i class="fa fa-twitter"></i></a></li>
							<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
							<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
						</ul>
					</div>
				</div>
				<div class="col-md-3 wthree_team_grid">
					<div class="wthree_team_grid1">
						<div class="hover14 column">
							<div>
								<figure><img src="static/images1/t3.jpg" alt=" " class="img-responsive" /></figure>
							</div>
						</div>
						<div class="wthree_team_grid1_pos">
							<h4>Rosy Carl </h4>
						</div>
					</div>
					<div class="wthree_team_grid2">
						<ul class="social-icons">
							 <li><a href="#"><i class="fa fa-facebook"></i></a></li>
							<li><a href="#"><i class="fa fa-twitter"></i></a></li>
							<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
							<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
						</ul>
					</div>
				</div>
				<div class="col-md-3 wthree_team_grid">
					<div class="wthree_team_grid1">
						<div class="hover14 column">
							<div>
								<figure><img src="static/images1/t2.jpg" alt=" " class="img-responsive" /></figure>
							</div>
						</div>
						<div class="wthree_team_grid1_pos">
							<h4>David Martin</h4>
						</div>
					</div>
					<div class="wthree_team_grid2">
						<ul class="social-icons">
						 <li><a href="#"><i class="fa fa-facebook"></i></a></li>
							<li><a href="#"><i class="fa fa-twitter"></i></a></li>
							<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
							<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
						</ul>
					</div>
				</div>
				<div class="col-md-3 wthree_team_grid">
					<div class="wthree_team_grid1">
						<div class="hover14 column">
							<div>
								<figure><img src="static/images1/t1.jpg" alt=" " class="img-responsive" /></figure>
							</div>
						</div>
						<div class="wthree_team_grid1_pos">
							<h4>Reena Scot</h4>
						</div>
					</div>
					<div class="wthree_team_grid2">
						<ul class="social-icons">
							 <li><a href="#"><i class="fa fa-facebook"></i></a></li>
							<li><a href="#"><i class="fa fa-twitter"></i></a></li>
							<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
							<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
						</ul>
					</div>
				</div>
		
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
<!-- //team -->
<!-- stats -->
<!--	<div class="stats_inner jarallax" id="stats">-->
<!--	    <div class="container"> -->
<!--			<div class="inner_w3l_agile_grids">-->
<!--		<div class="col-md-3 w3layouts_stats_left w3_counter_grid">-->
<!--		   	<i class="fa fa-building-o" aria-hidden="true"></i>-->
<!--			<p class="counter">120</p>-->
<!--			<h3>Hospital Rooms</h3>-->
<!--		</div>-->
<!--		<div class="col-md-3 w3layouts_stats_left w3_counter_grid1">-->
<!--		   <i class="fa fa-wheelchair" aria-hidden="true"></i>-->
<!--			<p class="counter">165</p>-->
<!--			<h3>Wheelchair</h3>-->
<!--		</div>-->
<!--		<div class="col-md-3 w3layouts_stats_left w3_counter_grid2">-->
<!--		<i class="fa fa-ambulance" aria-hidden="true"></i>-->
<!--			<p class="counter">563</p>-->
<!--			<h3>Ambulance Car</h3>-->
<!--		</div>-->
<!--		<div class="col-md-3 w3layouts_stats_left w3_counter_grid3">-->
<!--	<i class="fa fa-heart-o" aria-hidden="true"></i>-->
<!--			<p class="counter">245</p>-->
<!--			<h3>Saved hearts</h3>-->
<!--		</div>-->
<!--		<div class="clearfix"> </div>-->
<!--	</div>-->
<!--   </div>	-->
<!--</div>-->
<!-- //stats -->

<!-- footer -->
	<div class="footer">
		<div class="container">
			<h4>Subscribe to <span>Newsletter</span></h4>
			<form action="#" method="post">
				<input type="email" name="Email" placeholder="Enter Your Email..." required="">
				<input type="submit" value="Send">
			</form>
			<div class="agile_footer_copy">
				<div class="w3agile_footer_grids">
					<div class="col-md-4 w3agile_footer_grid">
						<h3>About Us</h3>
						<p> we book online appointment with doctors.<span>Appointment directly accept by Doctor and your date and time send on register email or phone no. .</span></p>
					</div>
					<div class="col-md-4 w3agile_footer_grid">
						<h3>Contact Info</h3>
						<ul>
							<li><i class="fa fa-map-marker" aria-hidden="true"></i>D.B.N Road <span>Batala.</span></li>
							<li><i class="fa fa-envelope-o" aria-hidden="true"></i><a href="mailto:ranjit45697@gmail.com">Ranjit45697@gmail.com</a></li>
							<li><i class="fa fa-phone" aria-hidden="true"></i>7986887844</li>
						</ul>
					</div>
					<div class="col-md-4 w3agile_footer_grid w3agile_footer_grid1">
						<h3>Navigation</h3>
						<ul>
<!--							<li><span class="fa fa-long-arrow-right" aria-hidden="true"></span><a href="gallery.html">Department</a></li>-->
							<li><span class="fa fa-long-arrow-right" aria-hidden="true"></span><a href="appointment">Appointment</a></li>
							<li><span class="fa fa-long-arrow-right" aria-hidden="true"></span><a href="about">About</a></li>
							<li><span class="fa fa-long-arrow-right" aria-hidden="true"></span><a href="contact">Contact Us</a></li>
						</ul>
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>
<!--			<div class="w3_agileits_copy_right_social">-->
<!--				<div class="col-md-6 agileits_w3layouts_copy_right">-->
<!--					<p>&copy; 2017 Health Plus. All rights reserved | Design by <a href="http://w3layouts.com/">W3layouts</a></p>-->
<!--				</div>-->
<!--				<div class="col-md-6 w3_agile_copy_right">-->
<!--					<ul class="agileits_social_list">-->
<!--								<li><a href="#" class="w3_agile_facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>-->
<!--								<li><a href="#" class="agile_twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>-->
<!--								<li><a href="#" class="w3_agile_dribble"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>-->
<!--								<li><a href="#" class="w3_agile_rss"><i class="fa fa-rss" aria-hidden="true"></i></a></li>-->
<!--							</ul>-->
<!--				</div>-->
<!--				<div class="clearfix"> </div>-->
<!--			</div>-->
		</div>
	</div>
<!-- //footer -->
<a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
 <!-- js -->
<script src="{% static 'js1/jquery-2.2.3.min.js' %}"></script>

<script src="{% static 'js1/ziehharmonika.js' %}"></script>
<script>
$(document).ready(function() {
		$('.ziehharmonika').ziehharmonika({
			collapsible: true,
			prefix: ''
		});
	});
</script>
<!-- stats -->
	<script src="{% static 'js1/jquery.waypoints.min.js' %}"></script>
	<script src="{% static 'js1/jquery.countup.js' %}"></script>
		<script>
			$('.counter').countUp();
		</script>
<!-- //stats -->
	<!-- Gallery-Tab-JavaScript -->
			<script src="{% static 'js1/cbpFWTabs.js' %}"></script>
			<script>
				(function() {
					[].slice.call( document.querySelectorAll( '.tabs' ) ).forEach( function( el ) {
						new CBPFWTabs( el );
					});
				})();
			</script>
		<!-- //Gallery-Tab-JavaScript -->


<!-- Swipe-Box-JavaScript -->
			<script src="{% static 'js1/jquery.swipebox.min.js' %}"></script>
				<script type="text/javascript">
					jQuery(function($) {
						$(".swipebox").swipebox();
					});
			</script>
		<!-- //Swipe-Box-JavaScript -->
<!-- bootstrap-pop-up -->
	<div class="modal video-modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModal">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					Health Plus
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>						
				</div>
				<section>
					<div class="modal-body">
						<img src="static/images1/g9.jpg" alt=" " class="img-responsive" />
						<p>Ut enim ad minima veniam, quis nostrum 
							exercitationem ullam corporis suscipit laboriosam, 
							nisi ut aliquid ex ea commodi consequatur? Quis autem 
							vel eum iure reprehenderit qui in ea voluptate velit 
							esse quam nihil molestiae consequatur, vel illum qui 
							dolorem eum fugiat quo voluptas nulla pariatur.
							<i>" Quis autem vel eum iure reprehenderit qui in ea voluptate velit 
								esse quam nihil molestiae consequatur.</i></p>
					</div>
				</section>
			</div>
		</div>
	</div>
<!-- //bootstrap-pop-up -->

<!-- flexSlider -->
	<script defer src="{% static 'js/jquery.flexslider.js' %}"></script>
	<script type="text/javascript">
		$(window).load(function(){
		  $('.flexslider').flexslider({
			animation: "slide",
			start: function(slider){
			  $('body').removeClass('loading');
			}
		  });
		});
  </script>
<!-- //flexSlider -->


<!-- start-smoth-scrolling -->
<script type="text/javascript" src="{% static 'js/move-top.js' %}"></script>
<script type="text/javascript" src="{% static 'js/easing.js' %}"></script>
<script type="text/javascript">
	jQuery(document).ready(function($) {
		$(".scroll").click(function(event){		
			event.preventDefault();
			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
		});
	});
</script>
<!-- start-smoth-scrolling -->
			<script src="{% static 'js/jarallax.js' %}"></script>
	<script src="{% static 'js/SmoothScroll.min.js' %}"></script>
	<script type="text/javascript">
		/* init Jarallax */
		$('.jarallax').jarallax({
			speed: 0.5,
			imgWidth: 1366,
			imgHeight: 768
		})
	</script>
	
	<script src="{% static 'js/bootstrap.js' %}"></script>
<!-- //for bootstrap working -->
<!-- here stars scrolling icon -->
	<script type="text/javascript">
		$(document).ready(function() {
			/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
				};
			*/
								
			$().UItoTop({ easingType: 'easeOutQuart' });
								
			});
	</script>
<!-- //here ends scrolling icon -->
</body>
</html>